<div class="room">
	<div class="summary">{{summary}}</div>
	<div class="description">{{{description}}}</div>
	<div class="exit">출구 : [{{exitString}}]</div>
	<ul class="items">
{{#each items}}
	<li>{{name}}이(가) 떨어져있다.</li>
{{/each}}
	</ul>
</div>